// COLORS

$color-white: #fff;
$color-black: #000;
$color-primary: #073D83; //#282687;
$color-primary-dark: darken($color-primary, 10%);
$color-primary-grey: #d8d7f3;
$color-primary-grey-dark: darken(#d8d7f3, 10%);
$color-primary-light: lighten($color-primary, 50%);
$color-primary-lighter: lighten($color-primary, 60%);
$color-secondary: #B9CF2C;
$color-secondary-light: lighten($color-secondary, 25%);
$color-secondary-dark: #7c8a20;
$color-tertiary-light: #ffb900;
$color-tertiary-dark: #ff7730;
$color-grey-light:  #eee;
$color-grey-light-2: #ccc;
$color-grey-dark: #777;
$color-grey-dark-2: #999;
$color-grey-dark-3: #333;



// $color-romanian-primary-dark: darken($color-primary, 10%); // black//color.adjust($color-primary, );//#051934;
$color-grey-romanian: #818FA1;
$color-grey-romanian-2: #D9DDE3;
$color-grey-romanian-3: #f7f8fc;

$default-font-size: 2rem; // 16px since 1 rem is 8px

$edge-roundness: 0.2rem;


// FOOTER
$footer-height: 10rem;