.form {
    // width: 36rem;  
    width: 100%;  
    margin: 0 auto;

    @include respond(tab-port) {
        width: 80%;
        padding: 0;
    }

    @include respond(tab-land) {
        // width: 65%;
    }

    @include respond(desktop) {
        // width: 60%;
    }

    &__group {
        &:not(:last-child) {
            margin-bottom: 1.5rem;
        }

        &--switch {
            display: flex;
            justify-content: space-between;
        }
        
    }

    &__switch-container {
        // display:inline-block;
        height: 4rem;
        width: 7rem;
        // float: right;
        justify-self: right;

        
        @include respond(tab-land) {
            transform: scale(0.9);
            // margin-right: 3rem;
        }
    }
    &__switch {
        position: relative;
        display: inline-block;
        // right: -6rem;
        // bottom: -3.5rem;
        width: 55px;
        height: 30px;
        // margin-right: 5rem;
        // transform: scale(0.5);
        // float: inline-end;

        // toggle area
        &-slider {
            position: absolute; 
            cursor: pointer;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            background-color: $color-grey-dark-2;
            transition: .4s;
            border-radius: 5rem;

            // toggle circle
            &::before {
                position: absolute;
                content: "";
                height: 24px;
                width: 24px;
                left: 3.5px;
                bottom: 3px;
                background-color: $color-white;
                transition: 0.4s;
                border-radius: 50px;
            }
        }

        & &-input {display: none}

        &-input:checked + &-slider {
            background-color: $color-secondary;
        }

        &-input:checked + &-slider::before {
            transform: translateX(24px);
        }
    }


    &__label {
        font-size: 1.8rem;
        font-weight: bold;
        text-align: left;
        padding-left: 2rem;
        margin-bottom: 1rem;
        display: block; // in order to use margin properties
        transition: all 0.4s;
        // transform: translateY(-9rem);
        
        &--sub {
            padding-left: 0;
            margin: 0;
            font-weight: normal;
        }
    }

    &__input {
        font-size: 2rem;
        font-family: inherit; // to overwright the browser default
        color: inherit;
        padding: 1rem 1.5rem; //more paddings on the sides of input and buttons is a nicer style
        border-radius: $edge-roundness; 
        background-color: rgba($color-white, .5);
        border: none;
        border-bottom: 0.5rem solid transparent;
        width: 100%;
        display: block;
        transition: all 0.3s;
        @include respond(tab-land) {
            font-size: 1.5rem;
            padding: 1rem 2rem;
        }

        &:focus {
            outline: none;
            box-shadow: 0 1rem 2rem rgba($color-black, 0.1);
            border-bottom: 0.5rem solid $color-secondary;
        }

        &:focus:invalid {
            border-color: $color-tertiary-dark;
        }

        &::-webkit-input-placeholder {
            color: $color-grey-dark-2;
        }
    }

    // when placeholder is showing meaning nothing is being written, need to hide label
    // &__input:placeholder-shown +  &__label{ // + adjacent sibiling selector, ~ general sibiling selector
    //     opacity: 0;
    //     visibility: hidden;
    //     transform: translateY(-4rem);

    // }

    

    // &__message {
    //     font-size: 2.5rem;
    //     font-weight: 600;
    //     color: $color-secondary-dark;

    //     &--invalid {
    //         color: $color-tertiary-dark;
    //     }
    // }

    &__url {
        &-list {
            list-style-type: none;
        }
        &-item {
            margin-bottom: 1rem;
            // text-decoration: none;
            box-sizing: border-box;
            display: flex;
            flex-wrap: wrap;
            // justify-content: center; 
            // align-items: stretch; 

            &:hover {
                background-color: papayawhip;
            }
        }

        // title element needs to be inside of url-item element
        &-title {
            width: 35%;
            margin-right: auto;
            // display: flex;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            &-add {
                width: 35%;
                margin-right: auto;
                // display: flex;
                border-top-right-radius: 0;
                border-bottom-right-radius: 0;
                background-color: rgba($color-primary, .15);
                outline-color: $color-primary;
                @include respond(tab-port) {
                    width: 25%;
                }
            }

            @include respond(tab-port) {
                width: 25%;
            }
        }

        // path element needs to be inside of url-item element
        &-path {
            width: 40%;
            // display: flex;
            margin-right: auto;
            border-top-right-radius: 0;
            border-bottom-right-radius: 0;
            &-add {
                background-color: rgba($color-primary, .15);
                outline-color: $color-primary;
            }

            @include respond(tab-port) {
                width: 50%;
            }
            @include respond(desktop) {
                width: 60%;
            }
        }

    }

    &__select {
        // width: 50%;
        width: 100%;
        border: none;
        // padding: 0.5rem 1em;
        padding: 1rem 1em;
        border-radius: 0.3rem;
        font-size: 1.8rem;

        background-color: $color-white;

        @include respond(tab-port) {
            width: 75%;
        }

        @include respond(tab-land) {
            padding: 0.5rem 1em;
            width: 50%;
        }
        &:hover {
            background-color: $color-secondary;
            color: $color-primary;
        }
        &:focus {
            // outline-color: $color-secondary;
            outline: none;
            background-color: $color-primary;
            color: $color-white;
        }
    }

    &__checkbox {
        // font-size: 2rem;
        // width: 3rem;
        display: inline-block;
        // margin-left: 1rem;
        height: 3rem;
        width: 3rem;
        cursor: pointer;
        @include respond(tab-land) {
            height: 2rem;
            width: 2rem;
        }

        &[readonly] {
            pointer-events: none;
        }
    }

    &__input-list {
        // display: flex; 
        // justify-content:space-between;
        // align-items: center;
        // background-color: $color-primary-grey;
        // padding: 1rem;
    }

    &__checkbox-container {
        display: flex; 
        justify-content:space-between;
        align-items: center;
        background-color: $color-primary-grey;
        padding: 1rem;
        transition: all 0.2s;
        &:hover {
            // background-color: papayawhip;
            background-color: rgba($color-primary-grey-dark, 0.75);
            // & > .form__label--sub {font-weight: 700;}
        }
    }
}